// Typography
$sans-serif: $helvetica;
$serif: Arvo, serif;
$script: Lobster, script;
$base-font-family: $serif;
$header-font-family: $serif;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

// Colors
$beige: #F3E199;
$cream: #FAF4E4;
$light-green: #D6D292;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$green: #759936;
$red: #8B1C23;
$tan: #CEB28A;
$white: #FFF;

// Colors for "under the sea" theme
$lightest-gray: #f3f3f3;
$light-gray: #DDD;
$medium-gray: #999;
$dark-gray: #333;

$yellow: #ECFEAA;
$brown: #4D2C19;
$lightest-green: #DDEAE9;
$light-green: #6DA592;
$medium-green: #243E36;
$dark-green: #1D2623;
$very-dark-green: #021810;
$pastel-green: #1C9796;

// Social media
$facebook: #3B5998;
$tumblr: #32506D;
$instagram: #994C0E;
$twitter: #00ACED;

// Background Colors
$base-background-color: $very-dark-green;
$home-background-color: $lightest-gray;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $medium-green;
$header-font-color: $base-accent-color;

// Link Colors
$base-link-color: $medium-green;                    // Button colors.
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;
$emphasis-color: $medium-green;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $beige;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Calendar
$day-header-color: $medium-gray;
