button,
input[type="submit"],
.button {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &.red {
    background-color: $red;

    &:hover {
      background-color: darken($red, 5%);
    }
  }
}
