/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: $dark-teal-2019;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: $turquoise-2019;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  text-align: center;
  transition: max-height 0.2s ease-out;
}