.calendar {
  margin: 2%;

  table {
    margin-top: 0;
    margin-bottom: 0;
  }

  .fc-day-header {
    background-color: lighten($tan, 20%);
    color: white;
    font-weight: 400;
    padding: 10px;
  }
//
  .fc-day {
    @include transition(background-color 0.1s linear);
    background: white;
    &:hover {
      background: #eee;
    }
  }
//
//  .fc-event-hori {
//    @include transition(background-color 0.1s linear);
//    background-color: $red;
//    color: $white;
//    padding-left: 5px;
//    padding-right: 5px;
//    border-color: $light-gray;
//    cursor: pointer;
//
//    &:hover {
//      background-color: darken($red, 5%);
//    }
//
//    &.fc-event-end {
//      border-top-right-radius: 10px;
//      border-bottom-right-radius: 10px;
//    }
//
//    &.fc-event-start {
//      border-top-left-radius: 10px;
//      border-bottom-left-radius: 10px;
//    }
//  }
//

  .fc-content {
    padding: 0 1px;
    word-wrap: break-word;
  }

  button:hover {
    color: $night-blue;
    background-color: $light-gray;
  }

  .fc-other-month {
    background: #F2F2F2;
  }

  .fc-day-number {
    background-color: $green;
    top:20px;
    padding:4px;
    margin: 5px;
    font-weight:bold;
    font-size: 12px;
    width:25px;
  }

  .fc-event-container {
    word-wrap: break-word;
  }

  .fc-title {
    word-wrap: break-word;
  }

  .fc-day-grid-event > .fc-content {
    white-space: inherit;
  }

  .fc-event-container {
    a:hover {
      color: $light-gray;
    }
  }

  .fc-left {
    h2 { color: lighten($tan, 20%) }
  }
}

#legend {
  h3 {
    text-align: center;
  }

  .types-table {
    @include fill-parent;
    @include row(table);

    div {
      @include span-columns(2);
      @include reset-display;
      @include pad();

      height: 40px;
      text-align: center;

      color: white;
      line-height: 40px;

      &:nth-child(1) { background-color: $service }
      &:nth-child(2) { background-color: $social }
      &:nth-child(3) { background-color: $committee }
      &:nth-child(4) { background-color: $kiwanis }
      &:nth-child(5) { background-color: $fundraising }
      &:nth-child(6) { background-color: $division }
    }
  }
}

