.pill-list {
  width: 100%;

  li {
    border-radius: 20px;
    font-size: .9em;
    color: white;
    margin: .2em;

    &.red {
      background-color: $red;
    }

    &.green {
      background-color: $green;
    }
  }
}