.slider {
  $slider-background: $dark-gray;

  background-color: $slider-background;

  margin-bottom: 0;

  li {
    min-height: 300px;
  }

  .content {
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
    height: 300px;
    max-width: 400px;
    padding: 1em;

    * {
      color: white;
    }

    a {
      color: white;
      border-bottom: 1px solid white;

      &:hover {
        color: darken(white, 3%);
        border-bottom: 1px solid darken(white, 3%);
      }
    }

    .text {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .empty-content {
    @include fill-parent;

    position: relative;
    height: 350px;

    img {
      width: 100%;
      height: 100%;
    }

    .text {
      position: absolute;
      @include span-columns(6);

      height: 350px;
      width: 350px;

      left: 0px;
      bottom: 0px;

      background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(left,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
      background: linear-gradient(to right,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */

      h3 {
        padding-top: 50px;
      }

      p, h3 {
        color: white;
        text-align: center;
        padding-bottom: 20px;
      }

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .carousel-slider {
    background-color: $slider-background;
  }

  .rn-carousel-container {
    padding-top: 20px;
    background-color: $slider-background;

    .rn-carousel-indicator {
      background-color: $slider-background;
      color: $light-gray;
      span {
        -webkit-transition: color .2s ease-out;
        transition: color .2s ease-out;
        padding: 0 5px;
        color: $medium-gray;
      }
      .active {
        color: white;
      }
    }


    .rn-carousel-sliders {
      background: $slider-background;
    }
  }

}

