// Social media column on home page.

#social-media-column {
  position: fixed;
  top: 40%;
  right: 0;
  z-index: 99;

  a {
      color: white;

      i {
        line-height: 60px;
      }
  }

  div {
    background-color: $dark-slate-gray;
    height: 60px;
    width: 60px;
    text-align: center;
    vertical-align: bottom;



    &:hover {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
  }

  .facebook-box {
    &:hover {
      background-color: $facebook;
    }
  }

  .tumblr-box {
    &:hover {
      background-color: $tumblr;
    }
  }

  .instagram-box {
    &:hover {
      background-color: $instagram;
    }
  }

  .twitter-box {
    &:hover {
      background-color: $twitter;
    }
  }
}
