
#about {
  #main {
    @include span-columns(10);
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  #sidebar {
    @include span-columns(2);
    height: 100%;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 50px;
  }

  .image {
    position: relative;
    bottom: 0;
    width: auto;
    height: 200px;
    display: inline-block;
  }
  .image img {
    width: auto;
    height: 200px;
    vertical-align: top;
    display: inline-block;
  }
  .image:after, .image:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .image:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .image:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    padding: 4px 10px;
    text-align: center;
    background: $red;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  .image:hover:after, .image:hover:before {
    opacity: 1;
  }

}

#sidebar {

  /*
  .activepage {
      position: relative;
      background: $red;
      color: #fff;
      text-align: center;
  }

  .activepage:after {
      left: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-left-color: $green;
      border-width: 12px;
      margin-top: -12px;
  }
      --->
  */

  .page {
    color: $green;
    text-align: center;

    &.active {
      width: auto;
      height: 50px;
      background: $light-green;
      color: $red;
      text-align: center;
      line-height: 50px;
    }
  }

}

a {
  color: $green;
}

a:hover {
  color: $brown;
}

