html {
  height: 100%;
  overflow-y: scroll;
}

body {
  @include outer-container;
  //background: $base-background-color url('/images/cloudsback.png') no-repeat center center fixed;
  //height: 100%;

  //fixed background
 
  background-image: url('/images/royalblue.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  
  //gradient
  //background: $base-background-color; /* For browsers that do not support gradients */
  //background: -webkit-linear-gradient($base-background-color, $pink-grad); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient($base-background-color, $pink-grad); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient($base-background-color, $pink-grad); /* For Firefox 3.6 to 15 */
  //background: linear-gradient($base-background-color, $pink-grad); /* Standard syntax */
  //background-attachment: fixed;
  //filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/gradient.jpg',     sizingMethod='scale');
  //-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/gradient.jpg', sizingMethod='scale');
  //endfixedbackground

  //scrolling background
  /*background: $base-background-color url('/images/cloudsback.png') no-repeat center center;
  background-size: 100% 100%;
  min-width: em(700);
  margin: 0 auto;*/
}

#container{
  @include span-columns(12);
  background: $home-background-color;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 2em;
}

.wrapper {
  padding: 5%;
}

#header-image {
  @include span-columns(12);
  line-height: 0;
  padding: 0;
  margin: 0;

  h1 {
    line-height: 0;
  }

  img {
    width: 100%;
  }
}
