html {
  height: 100%;
  overflow-y: scroll;
}

body {
  @include outer-container;
  background: $base-background-color url('/images/background.jpg') no-repeat fixed;
  height: 100%;
  min-width: em(700);
  margin: 0 auto;
}

#container{
  @include span-columns(12);
  background: $home-background-color;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 2em;
}

.wrapper {
  padding: 5%;
}

#header-image {
  @include span-columns(12);
  line-height: 0;
  padding: 0;
  margin: 0;

  h1 {
    line-height: 0;
  }

  img {
    width: 100%;
  }
}
