html {
  height: 100%;
  overflow-y: scroll;
}

body {
  @include outer-container;
  //background: $base-background-color url('/images/cloudsback.png') no-repeat center center fixed;
  //height: 100%;

  //fixed background
  background: $base-background-color no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  //filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/gradient.jpg',     sizingMethod='scale');
  //-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/gradient.jpg', sizingMethod='scale');
  //endfixedbackground

  //scrolling background
  /*background: $base-background-color url('/images/cloudsback.png') no-repeat center center;
  background-size: 100% 100%;
  min-width: em(700);
  margin: 0 auto;*/
}

#container{
  @include span-columns(12);
  background: $home-background-color;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: 2em;
}

.wrapper {
  padding: 5%;
}

#header-image {
  @include span-columns(12);
  line-height: 0;
  padding: 0;
  margin: 0;

  h1 {
    line-height: 0;
  }

  img {
    width: 100%;
  }
}
