//region Global CERF views

.section-instructions {
  margin: 20px 30px 20px 30px;
}

.light-emphasis {
  color: $light-green;
}

//endregion

//region Top header

// Header at top of page.

#cerf-header {
  @include fill-parent;
  height: 120px;
  background-color: $emphasis-color;
  text-align: center;

  h1 {
    color: white;
    line-height: 120px;
  }
}

//endregion

//region Overview page

// Section containing events. to be CERFed.

#cerf-selection {
  background-color: $lightest-gray;

  #event-section {
    @include outer-container;
    height: 500px;

    .section-sidebar {
      @include span-columns(3);
    }

    #event-table {
      @include span-columns(9);

      height: 500px;
      overflow-y: scroll;

      a {
        color: $base-font-color;

        &:hover {

          .event-cell {
            background-color: $emphasis-color;
            color: $white;

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
          }
        }

        .event-cell {
          @include span-columns(3 of 9);
          @include omega;
          @include pad(10px);

          height: 250px;
          text-align: center;

          background-color: $lightest-green;

          overflow-y: scroll;

          .avatar.small {
            img {
              float: left;
            }
          }

          .cerf-description {
            float: left;
            padding-top: 25px;
          }
        }
      }
    }
  }
}

//endregion

//region Event summary on CERF creation form

// CERF creation form.

#event-summary {
  height: 300px;

  .description {
    @include span-columns(8);

    h1 {
      text-align: center;
    }

    .half {
      @include span-columns(4 of 8);

      text-align: center;
      margin-top: 40px;
    }
  }

  .chair.avatar.large {
    @include span-columns(4);
  }
}

//endregion

//region Member attendance table

#member-attendance-section {
  background-color: $lightest-green;

  table {
    table-layout: fixed;
  }

  h3 {
    text-align: center;
  }

  tr {

    td {
      height: 100px;
    }

    td:first-child {
      overflow-x: scroll;
    }

    td:nth-child(8) {
      padding-right: 20px;
    }

    td:nth-child(n+2):nth-child(-n+7) {
      padding-right: 20px;
    }
  }
}

//endregion

//region Event tags tables

#event-tags-section {
  h3 {
    text-align: center;
  }

  .wrapper {
    .tags-table {
      &:first-of-type {
        .tags-table-header {
          background-color: $brown;
        }

        .tags-content-row {
          background-color: lighten($brown, 70%);
        }
      }

      &:nth-of-type(2) {
        .tags-table-header {
          background-color: $gold;
        }

        .tags-content-row {
          background-color: lighten($gold, 30%);
        }
      }

      &:nth-of-type(3) {
        .tags-table-header {
          background-color: $blue;
        }

        .tags-content-row {
          background-color: lighten($blue, 50%);
        }
      }

      &:nth-of-type(4) {
        .tags-table-header {
          background-color: $purple;
        }

        .tags-content-row {
          background-color: lighten($purple, 55%);
        }
      }
    }
  }
}

.tags-table {
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  .tags-table-header {
    height: 90px;
    overflow: scroll;
    //background-color: $brown;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    h4, small {
      vertical-align: middle;
      color: white;
    }

    h4 {
      line-height: 90px;
      padding-left: 30px;
      @include span-columns(3);
    }

    small {
      padding-right: 20px;
      padding-top: 15px;
      @include span-columns(9);
    }
  }

  .tags-content-row {
    padding-top: 30px;
    overflow: hidden;

    //background-color: lighten($brown, 70%);

    div:first-child {
      @include span-columns(1);
      text-align: center;
    }

    div:nth-child(2) {
      @include span-columns(3);
    }

    div:nth-child(3) {
      @include span-columns(8);
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

//endregion

//region Kiwanis attendance table

#kiwanis-attendance-section {
  background-color: $lightest-green;

  h3  {
    text-align: center;
  }

  table {
    margin-left: 40px;
    margin-right: 40px;
    table-layout: fixed;

    th {
      text-align: center;
    }

    tr, td {
      padding-right: 20px;
    }

    td {
      &:nth-child(2) {
        padding-right: 40px;
      }
    }
  }
}

//endregion

//region Fundraising section

#fundraising-section {
  height: 530px;

  h3 {
    text-align: center;
  }

  .funds-info {
    div {
      @include span-columns(4);
    }
  }

  .funds-purpose {
    @include fill-parent;
  }
}

//endregion

//region Commentary section

#commentary-section {
  background-color: $lightest-green;

  h3 {
    text-align: center;
  }

  .commentary-info {
    div {
      @include fill-parent;
    }

    .comparison {
      div {
        @include span-columns(6);
      }
    }
  }
}

//endregion

//region Submit button

.continue-form {
  text-align: center;

  div {
    background-color: $light-green;
  }
}

//endregion
