button {
  font-family: $base-font-family;
}

.btn-group-reg {
  width: 100%;
}

.btn-group-admin {
  width:min-content;
  margin-left: auto;
  margin-right: auto;
}

#drive-btn, #photograph-btn, #write-btn {
  width: 20%;
}

#register-btn {
  &:hover {
    background-color: $green;
  }
}

#unregister-btn {
  background-color: $old-rose;
  &:hover {
    background-color: $red;
  }
}

.eventOptions {
  padding: 2%;
}

#unregister-btn, #register-btn, #guestBtn {
  padding:1.5%;
  width: 40%;
}

.nameReg {
  float: left;
  font-size: .8em;
}

.avatar {
  padding: 1%;
}

#event {
  @include span-columns(12);

  #navigator {
    @include span-columns(3);
    min-height: 80vh;
    border-right: 1px solid $light-gray;
    padding: 1em;
    background-color: #fff;
    padding: .55em;
    text-align: center;

    h3 {
      font-size: 1em;
      padding-bottom: 5px;
      border-bottom: 2px solid $light-gray;
      margin: .5em;
      margin-top: 1em;
    }

    ul li {
      margin: auto .5em;
      text-align: left;
      padding-bottom: .2em;
      border-bottom: 1px dotted $light-gray;
      margin-bottom: .2em;
    }

  }

  #viewport {
    @include span-columns(9);
    @include omega;
    padding: 1em;
    width: 100%;
  }
}

#viewport {
  .head {
    //@include span-columns(12);
    display: block;
    border-bottom: 1px solid $light-gray;
    overflow-wrap: break-word;
    text-align: center;
    line-height: 2em;
    padding: 2%;

    /*.event-info {
      @include span-columns(8);
    }

    .signup {
      @include span-columns(4);

      button {
        float: right;
      } */
    }

    /*p {
      font-weight: bold;
    }*/



  .left {
    @include span-columns(8);
    padding-top: .8em;
    border-right: 1px solid $light-gray;
    overflow-wrap: break-word;
  }

  .right {
    @include span-columns(4);
    padding-top: .8em;
    text-align: center;

    .chair {
      text-align: center;
    }

    .oi[data-glyph] {
      padding-top: 2px;
      padding-left: 10px;
      float: left;
    }

    li {
      vertical-align: middle;
    }
  }

  .registrations {
    border-top: 1px solid $light-gray;
    padding: 3%;
    margin-top: 1em;
    padding-top: 1em;
    @include span-columns(12);
    text-align: center;

    ul li {
      @include span-columns(2);
      @include omega(6n);
    }
  }

  h4 {
    margin-bottom: .5em;
  }
}

@media screen and (max-width:500px) {
  .avatar.small img {
    width: auto;
    height: auto;
  }

  #unregister-btn, #register-btn, #guestBtn {
    padding: 5%;
    width: 75%;
    margin: 5%;
  }

  #drive-btn, #photograph-btn, #write-btn {
    width: 80%;
  }

  .btn-group-admin {
    margin-left: auto;
    margin-right: auto;
  }

  #viewport .head {
    padding: 8%;
  }

  #viewport .registrations {
    padding: 5%;
  }
}
