footer {
  @include outer-container;

  #logos {
    @include span-columns(6 of 16);
    @include shift(5 of 16);
    margin-bottom: 1em;

    .logo {
      @include span-columns(2 of 6);
      @include omega(3n);
    }
  }

  p {
    @include span-columns(6);
    @include shift(3);

    text-align: center;
    color: black;

    &#credits {
      font-size: .8em;
    }
  }

}

.socialMediaIcons > a {
  color: black;
  font-size: 1.5em;
  &:hover {
    color: #999;
  }
}

.fab {
  margin: 10% 2.5% 5% 2.5%;
}

@media only screen and (max-width: 500px) {
  /*.socialMediaIcons > a {
    font-size:1em;
  }*/

}