#login {
  width: 100%;
  height: 100%;

  #login-form {
    @include span-columns(6);
    height: 100%;
    border-right: 1px solid $light-gray;
    padding-right: 3rem;
    padding-bottom: 5%;
  }

  #register {
    @include span-columns(6);
    height: 100%;
    padding: 0 2em 2em 2em;
  }

  h2 {
    padding-bottom: .3em;
    margin-bottom: .3em;
    border-bottom: 1px solid $light-gray;
  }
}
