.member-row {
  padding: 6px;
  display: flex;

 div {
     margin: 5px;
     text-align: center;
     flex: 1;
     background-color: $lightest-blue;
     border-radius: $base-border-radius;
   }

  p:last-child {
    margin-bottom: 10px
  }
}

.member-row2 {
  padding: 6px;
  display: -ms-flexbox;
  display: block;

  div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    -ms-flex: 1;
    flex: 1;
    background-color: $lightest-blue;
    border-radius: $base-border-radius;
  }

  p:last-child {
    margin-bottom: 10px
  }
}

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .image {
  opacity: 0.3;
}

#slideshow {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  left:50px;
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#slideshow2 {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  left:30px;
  position: relative;
  width: 300px;
  height: 270px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow2 > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
