.member-row {
  padding: 6px;
  display: flex;

 div {
     margin-top: 5px;
     text-align: center;
     flex: 1;
     background-color: $lightest-blue;
     border-radius: $base-border-radius;
   }

  p:last-child {
    margin-bottom: 10px
  }
}

.member-row2 {
  padding: 6px;
  display: -ms-flexbox;
  display: block;

  div {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    -ms-flex: 1;
    flex: 1;
    background-color: $lightest-blue;
    border-radius: $base-border-radius;
  }

  p:last-child {
    margin-bottom: 10px
  }
}

.container {
  width: 50%;
  height: 50%;
}

#slideshow, #slideshow2 {
  margin: auto;
  margin-top: 5%;
  position: relative;
  width: 50%;
  height: 250px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);

  img {
    height: 100%;
    width: 100%
  }
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

#slideshow2 > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
