#guideHeader {
  padding-bottom: 5%;
}

.textLeft {
  text-align: left;
}

.cardBtn {
  position: absolute;
  bottom: 5%;
  left: 24%;
  width: 50%;
}

.guestColumn {
  float: left;
  padding: 2%;
  width:50%;
  position: relative;
  height: 60%;
  background-color: $lightest-blue;
  text-align: center;
  > p {
    text-align: left;
    padding: 5%;
  }
}

.coloredTile {
  background-color: $base-background-color;
  text-align: center;
  display: inline-block;
  padding: 2%;
  border-radius: 5px;
  margin-bottom: 3%;
  > h2 {
    color: white;
    padding: 2%;
  }
  >h4 {
    padding: 1%;
    color: white;
  }
}

.membershipRow {
  padding: 5px;
  display: flex;
  > div {
    padding: 3%;
    position: relative;
    height: 25em;
    flex: 1;
    margin: 1%;
    background-color: $lightest-blue;
    border-radius: $base-border-radius;
    > .fas {
      font-size: 3em;
      margin-bottom: 10%;
    }
    > p {
      text-align: left;
    }
    > h4 {
      margin-bottom: 3%;
    }
  }
}

@media only screen and (max-width:500px) {

  .guestColumn {
    width: 100%;
    height: 60vh;
    padding: 5%;
    border-radius: 5px;
    border-bottom: 1px solid rgba($base-background-color,0.4)
  }
  
  .guestBtn {
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 50%;
}

  #memPerks {
    text-align: left;
    margin:{
      left: 5%;
      right: 5%;
    }
  }

  .coloredTile {
    width: 100%;
    padding: 5%;
    margin-bottom: 10%
  }

  .membershipRow {
    display: block;
    > div {
      margin: 5%;
      padding: 8%;
      > h4 {
        margin-bottom: 3%;
      }
    }
  }

}
