/*Smart Phones*/
@media only screen and (max-width: 500px) {

.bigbannertext {
  font-size: 1.4em;
}

  p {
    font-size: 15px;
  }

  ul.week > li h5 {
    font-size: 15px;
  }

   h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }


  .desc{
    font-size: 14px;
  }

  .title{
    padding:5px;
    font-size: 30px;
  }

  /*MBall Timer*/
  .mobile-text-timer{
    font-size: 16px;
  }

  .member-row {
    display: block;
  }

  .container {
    width: 100%;
    height: 55%;
  }

  /*Member recognition slide show*/

  .contact-row {
    padding: 5px;
    display: flex;

    div {
      margin: 5px;
      text-align: center;

      img {
        padding: 10px 0;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      flex: 1;
      background-color: $lightest-blue;
      border-radius: $base-border-radius;
    }

    p { margin: 0; }
    p:last-child { margin-bottom: 10px; }
  }

  /* Home Page */

  #content {
    #welcome-view {
      width: 100%;
      display: table;
      table-layout: fixed;
      background: none;

      h3 {
        margin: 20px;
        padding-left: 15%;
      }

      .links {
        display: block;
        width: 100%;
        height: 400px;
        transform: none;

        div:nth-child(2) {
          padding-left: 0px;
        }

        div {
          transform: none;
          margin: 20% 10% 15% 10%;
        }

      }

      .text {
        display: block;
        width: 100%;
        height: 400px;
        transform: none;

        * {
          transform: none;
        }
      }
    }
  }

}
