td {
  text-align:center;
}

tr > th {
  text-align:center;
}

.tHighlight {
  background-color: $base-link-color;
  font-weight: bold;
  color: white;
}

.fa-trophy {
  padding-left: 5%;
}

/*.fa-info-circle {
  float: right;
} */

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-family: $base-font-family;
  width: 20em;
  text-align: left;
  padding: 65%;
  visibility: hidden;
  background-color: $base-accent-color;
  color: white;
  //text-align: center;
  font-weight: normal;
  border-radius: 6px;
  line-height: $base-line-height;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width:500px) {
  .tooltip .tooltiptext {
    width: 60vw;
  }
}