.profile-row {
  padding: 5px;
  display: flex;

  div {
    margin: 5px;
    text-align: center;

    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }

    flex: 1;
    //background-color: $lightest-green;
    border-radius: $base-border-radius;
  }
  p { margin: 0; }
  p:last-child { margin-bottom: 10px; }

}

.subtitle {
  font-size: 1.5em;
  font-weight: bold;
}